            h1 {
                text-align: center;
                padding: 30px;
            }

            .overview {
                text-align: center;
                padding: 50px;
                border: solid black 10px;
            }


            table {
              width: 100%;
              margin-left: 20px;
            }


            .footer {
              text-align: center;
            }
            
            .logo {
              width: 35px;
            }
            
            
            .app {
              width: 150px;
            }
            
            
            .hardware {
              float: right;
            }
            

            
            
            table {
              font-family: sans-serif;
              margin: 0px;
            }
            
            
            th {
              background-color: black;
              color: white;
            }
            
            
            th, td {
              padding: 0.8rem;
              font-size: 1.4rem;
            }
            
            .textalign {
              font-size: 6rem;
            }
           
           .centered {
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
           }