            body {
              background-color: lightgray;
              font-family: 'Radio Canada', sans-serif;
            }
            
            
            h1 {
                text-align: center;
            }

            .context {
                text-align: center;
                margin:1rem 3rem;
                background-color: white;
                padding: 2px;
                font-size: 1.8rem;
              
            }


            table {
              width: 100%;
              margin-left: 20px;
            }


            .footer {
              text-align: center;
            }
            
            .logo {
              width: 35px;
            }
            
            
            .app {
              width: 150px;
            }
            
            
            
            
            table {
              font-family: sans-serif;
              margin: 0px;
            }
            
            
            th {
              background-color: black;
              color: white;
              text-align: center;
            }
            
            
            th, td {
              padding: 0.8rem;
              font-size: 1.4rem;
              
            }
            
            .text-align {
              font-size: 5.5rem;
            }
           
           .centered {
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
             font-family: 'Tapestry', cursive;
             margin: 0px;
           }
           
           .card {
             text-align: center;
           }
           
           .back-pic{
             background-image:url(background.jpg);
             background-attachment: fixed;
             padding-top: 2rem;
             padding-bottom: 4rem;
             
           }
           
           
           .container-custom {
             position: relative;
             text-align: center;
           }
           
           .inventions {
             border-radius: 15px;
             background-color: white;
             padding: 20px;
             font-family: 'Ubuntu', sans-serif;
           }
           
           i {
             float:right;
           }
           
           
           .card {
               margin-bottom: 7rem;
           }
           
           
           li {
               font-size: 1.6rem;
           }
           
           .faq-font {
               font-size: 1.8rem;
           }
           
           .table-center {
               text-align: center;
           }
          
          
          